<mat-grid-list cols="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background-color]="'#ccc'">
      <div class="title">
        <h4>DETALLE VENTA</h4>
        
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <form id="editForm" [formGroup]="editForm">
    <mat-grid-list cols="1" rowHeight="40px">
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'rgb(63, 81, 181)'"
      >
        <div class="sub-title">
          <h4>Datos de la venta</h4>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="70px">
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
      >
        <mat-form-field class="form-input">
          <mat-label>FECHA</mat-label>
  
          <input matInput placeholder="" formControlName="fechaCreacion" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
      >
        <mat-form-field class="form-input">
          <mat-label>TRANS. VENTA</mat-label>
  
          <input matInput placeholder="" formControlName="transventa" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
      >
        <mat-form-field class="form-input">
          <mat-label>TRAN.PAGO</mat-label>
  
          <input matInput placeholder="" formControlName="transpago" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="70px">
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
      >
        <mat-form-field class="form-input">
          <mat-label>VENDEDOR</mat-label>
  
          <input matInput placeholder="" formControlName="datosVendedor" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
      >
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
      >
        <mat-form-field class="form-input">
          <mat-label>ESTADO</mat-label>
  
          <input matInput placeholder="" formControlName="transpago" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  
    <mat-grid-list cols="3" rowHeight="70px">
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
        class="row-2"
      >
        <mat-form-field class="form-input">
          <mat-label>CLIENTE</mat-label>
  
          <input matInput placeholder="" formControlName="datosCliente" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
      >
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background-color]="'#FFF'"
        class="row-2"
      >
        <mat-form-field class="form-input">
          <mat-label>SERIE Y NUMERO</mat-label>
  
          <input matInput placeholder="" formControlName="transpago" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
   
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>ITEM</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.item }}
      </td>
      <td mat-footer-cell *matFooterCellDef>SubTotal</td>
    </ng-container>
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef>SKU</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.producto.sku }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>DESCRIPCION</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.producto.descripcion }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="preciou">
      <th mat-header-cell *matHeaderCellDef>PRECIO UNITARIO(SIN IGV)</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.precio | number: "1.2-2" }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
      <td mat-cell *matCellDef="let detallev; let i = index">
        
        {{ detallev.cantidad }}
      </td>
  
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="unidades">
      <th mat-header-cell *matHeaderCellDef>UNIDADES</th>
      <td mat-cell *matCellDef="let detallev">{{ detallev.presentacion }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="importe">
      <th mat-header-cell *matHeaderCellDef>IMPORTE</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.cantidad * detallev.precio | number: "1.2-2" }}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{ subtotalfooter }}</td>
    </ng-container>
  
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>ACCION</th>
      <td mat-cell *matCellDef="let detallev; let i = index" class="td-action">
        <span class="span-delete"
          ><i class="fa fa-trash" ></i
        ></span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- empty footer row-->
    <ng-container matColumnDef="igv">
      <td mat-footer-cell *matFooterCellDef>IGV</td>
    </ng-container>
    <ng-container matColumnDef="emptyFooter1">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooter2">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooter3">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooter4">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooter5">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooteritem1">
      <td mat-footer-cell *matFooterCellDef>{{ igv }}</td>
    </ng-container>
  
    <ng-container matColumnDef="amounts">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- empty footer row-->
    <ng-container matColumnDef="total">
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>
    <ng-container matColumnDef="emptyFooter6">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooter7">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooter8">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooter9">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooter10">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="emptyFooteritem2">
      <td mat-footer-cell *matFooterCellDef>{{ totalfooter }}</td>
    </ng-container>
  
    <ng-container matColumnDef="amountt">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedVatColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedTotalColumns"></tr>
  </table>
  
  
  <mat-grid-list cols="3" rowHeight="100px" >
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
    </mat-grid-tile>
  
    
    
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <button type="button" mat-raised-button color="warn" (click)="regresar()">Regresar</button>
    </mat-grid-tile>
  </mat-grid-list>
  </form>