<form
  class="example-form"
  [formGroup]="addVenta"
  (keydown.enter)="$event.preventDefault()"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit(formDirective)"
>
  <mat-grid-list cols="1" rowHeight="40px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#ccc'"
    >
      <div class="title">
        <h4>Agregar venta</h4>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          id="fechaCreacion"
          formControlName="fechaCreacion"
        />
        <mat-error
          *ngIf="addVenta.controls['fechaCreacion'].hasError('required')"
        >
          La fecha es <strong>requerida</strong>
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Vendedor</mat-label>

        <input
          matInput
          placeholder=""
          formControlName="vendedorName"
          [disabled]="true"
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="sub-title">
      <div class="title">
        <h4>Cliente</h4>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select id="tipoDocumento" formControlName="tipoDocumento">
          <mat-option [value]="1"> DNI </mat-option>
          <mat-option [value]="2"> RUC </mat-option>
        </mat-select>

        <mat-error
          *ngIf="addVenta.controls['tipoDocumento'].hasError('required')"
        >
          El tipo de documento es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field class="example-full-width">
        <mat-label>DNI/RUC</mat-label>

        <input
          matInput
          placeholder="dni/ruc"
          id="numeroDocumento"
          formControlName="numeroDocumento"
          (blur)="obtenerCliente()"

        />
        <mat-error
          *ngIf="addVenta.controls['numeroDocumento'].hasError('required')"
        >
          El numero de documento es <strong>requerido</strong>
        </mat-error>

        <mat-error
          *ngIf="addVenta.controls['numeroDocumento'].hasError('pattern')"
        >
          Solo <strong>numeros positivos</strong>
        </mat-error>

        <mat-error
          *ngIf="addVenta.controls['numeroDocumento'].hasError('minlength')"
        >
          Como mínimo <strong>8 números</strong>
        </mat-error>
        <mat-error
          *ngIf="addVenta.controls['numeroDocumento'].hasError('maxlength')"
        >
          Como maximo <strong>10 números</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Nombres</mat-label>

        <input
          matInput
          placeholder="nombres"
          id="nombres"
          formControlName="nombres"
          (input)="changeTextToUppercase('nombres')"
          
        />
        <mat-error *ngIf="addVenta.controls['nombres'].hasError('required')">
          El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Apellido paterno</mat-label>

        <input
          matInput
          placeholder="Apellido paterno"
          id="apellidoPaterno"
          formControlName="apellidoPaterno"
          (input)="changeTextToUppercase('apellidoPaterno')"
        />
        <mat-error
          *ngIf="addVenta.controls['apellidoPaterno'].hasError('required')"
        >
          El apellido paterno <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
      
    >
      <mat-form-field class="example-full-width">
        <mat-label>Apellido materno</mat-label>

        <input
          matInput
          placeholder="Apellido materno"
          id="apellidoMaterno"
          formControlName="apellidoMaterno"
          (input)="changeTextToUppercase('apellidoMaterno')"
        />
        <mat-error
          *ngIf="addVenta.controls['apellidoMaterno'].hasError('required')"
        >
          El apellido materno <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="sub-title">
      <div class="title">
        <h4>Agregar producto</h4>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field>
        <mat-label>Sku</mat-label>

        <input
          matInput
          placeholder="sku"
          id="sku"
          placeholder="sku"
          formControlName="sku"
          (blur)="obtenerProducto()"
          (input)="changeTextToUppercase('sku')"
        />
        <mat-error
          *ngIf="
            addVenta.controls['sku'].touched &&
            addVenta.controls['sku'].touched &&
            addVenta.controls['sku'].hasError('required')
          "
        >
          El sku <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="3"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>

        <input
          matInput
          placeholder="descripcion"
          id="descripcion"
          placeholder="descripcion"
          formControlName="descripcion"
          (input)="changeTextToUppercase('descripcion')"
        />
        <mat-error
          *ngIf="
            addVenta.controls['descripcion'].touched &&
            addVenta.controls['descripcion'].touched
          "
        >
          La descripción es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <button
        mat-mini-fab
        type="button"
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="addDetalleProducto()"
        class="button-acction"
        [disabled]="
          addVenta.controls['sku'].hasError('required') ||
          addVenta.controls['descripcion'].hasError('required') ||
          addVenta.controls['precio'].hasError('required') ||
          addVenta.controls['cantidad'].hasError('min') ||
          addVenta.controls['cantidad'].hasError('required') ||
          addVenta.controls['precio'].hasError('pattern')
        "
      >
        +
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field>
        <mat-label>Precio</mat-label>

        <input
          matInput
          placeholder="precio"
          id="precio"
          placeholder="precio"
          formControlName="precio"
        />
        <mat-error
          *ngIf="
            addVenta.controls['precio'].touched &&
            addVenta.controls['precio'].touched &&
            addVenta.controls['precio'].hasError('required')
          "
        >
          El precio es <strong>requerido</strong>
        </mat-error>

        <mat-error
          *ngIf="addVenta.controls['precio'].hasError('pattern')"
        >
          Solo <strong>numeros positivos</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Cantidad</mat-label>

        <input
          matInput
          type="number"
          min="1"
          placeholder="cantidad"
          id="cantidad"
          placeholder="cantidad"
          formControlName="cantidad"
        />
        <mat-error
          *ngIf="
            addVenta.controls['cantidad'].touched &&
            addVenta.controls['cantidad'].touched &&
            addVenta.controls['cantidad'].hasError('required')
          "
        >
          La cantidad es <strong>requerida</strong>
        </mat-error>

        <mat-error
        *ngIf="addVenta.controls['cantidad'].hasError('min')"
      >
        Debe tener al menos <strong> 1 producto </strong>
      </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Unidad</mat-label>
        <mat-select name="food" id="unidadesMedida" formControlName="unidadesMedida">
          <mat-option value="unidades"> Unidades </mat-option>
        </mat-select>
        <mat-error
      *ngIf="addVenta.controls['unidadesMedida'].hasError('required')"
    >
      La unidad de medida es <strong>requerida</strong>
    </mat-error>
      </mat-form-field>
      
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="sub-title">
      <div class="title">
        <h4>Productos</h4>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>ITEM</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.item }}
      </td>
      <td mat-footer-cell *matFooterCellDef>SubTotal</td>
    </ng-container>
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef>SKU</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.producto.sku }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>DESCRIPCION</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.producto.descripcion }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="preciou">
      <th mat-header-cell *matHeaderCellDef>PRECIO UNITARIO(SIN IGV)</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.precio | number: '1.2-2' }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
      <td mat-cell *matCellDef="let detallev; let i = index">
       
        <input
          type="number"
          min="1"
          class="input-table"
          (change)="editDetalle(i)"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="detallev.cantidad"
          
        />
        
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="unidades">
      <th mat-header-cell *matHeaderCellDef>UNIDADES</th>
      <td mat-cell *matCellDef="let detallev">{{ detallev.presentacion }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="importe">
      <th mat-header-cell *matHeaderCellDef>IMPORTE</th>
      <td mat-cell *matCellDef="let detallev">
        {{ detallev.cantidad * detallev.precio | number: "1.2-2" }}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{ subtotalfooter }}</td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>ACCION</th>
      <td mat-cell *matCellDef="let detallev; let i = index" class="td-action">
       
        <span class="span-delete" 
          ><i class="fa fa-trash" (click)="deleteDetalle(i)"></i
        ></span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- empty footer row-->
    <ng-container matColumnDef="igv">
      <td mat-footer-cell *matFooterCellDef>IGV</td>
    </ng-container>
    <ng-container matColumnDef="emptyFooter1">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter2">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter3">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter4">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter5">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooteritem1">
      <td mat-footer-cell *matFooterCellDef>{{ igv }}</td>
    </ng-container>

    <ng-container matColumnDef="amounts">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- empty footer row-->
    <ng-container matColumnDef="total">
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>
    <ng-container matColumnDef="emptyFooter6">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter7">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter8">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter9">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooter10">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="emptyFooteritem2">
      <td mat-footer-cell *matFooterCellDef>{{ totalfooter }}</td>
    </ng-container>

    <ng-container matColumnDef="amountt">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedVatColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedTotalColumns"></tr>
  </table>

  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="
          addVenta.controls['fechaCreacion'].hasError('required') ||
          addVenta.controls['tipoDocumento'].hasError('required') ||
          addVenta.controls['numeroDocumento'].hasError('required') ||
          addVenta.controls['nombres'].hasError('required') ||
          addVenta.controls['apellidoPaterno'].hasError('required') ||
          addVenta.controls['apellidoMaterno'].hasError('required') ||
          dataSource.source._value.length === 0
        "
        class="button-acction"
      >
        Agregar
      </button>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background-color]="'#FFF'"
    >
      <button type="button" mat-raised-button color="warn">Cancelar</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
